<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Панель администрирования</title>
		<link rel="stylesheet" href="/vendor/elveneek/framework/assets/admin/css/bootstrap.min.css" >
		<link rel="stylesheet" href="/vendor/elveneek/framework/assets/admin/css/main.css" >
	</head>
	<body>
		<div class="left_part">
			<div class="icons_menu">
				<a href="/" class="admin_menu_icon"><img src="/vendor/elveneek/framework/assets/admin/icons/content.svg" alt=""><span>Контент</span></a>
				<a href="/" class="admin_menu_icon active"><img src="/vendor/elveneek/framework/assets/admin/icons/settings.svg" alt=""><span>Настройки</span></a>
				<a href="/" class="admin_menu_icon"><img src="/vendor/elveneek/framework/assets/admin/icons/developer.svg" alt=""><span>Разработчик</span></a>
				<a href="/" class="admin_menu_icon"><img src="/vendor/elveneek/framework/assets/admin/icons/logs.svg" alt=""><span>Логи</span></a>
				<a href="/admin/logout" class="admin_menu_icon admin_menu_icon-exit"><img src="/vendor/elveneek/framework/assets/admin/icons/settings.svg" alt=""><span>Выход</span></a>
			</div>
		</div>
		
		<div class="content_part">
		
			#CONTENT#
		</div>
		
		<script  src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		<script  src="/vendor/elveneek/framework/assets/admin/js/jquery.serializeObject.js"   ></script>
 
		<script>
		$(function(){
			$(document).on('click', '.js-admin-save', function(){
				
				var data = $(this).closest('form').serializeObject()
				console.log(data)
				
				$.ajax({
				  type: "POST",
				  url: '/admin/save',
				  contentType: 'application/json',
				  data: JSON.stringify(data),
				  success: function(result){
					//eval(result);
					console.log('result', result);
				 },
				  dataType: 'script'
				});
				return false;
			});
		})
		//js-admin-save
		</script>
	</body>
	 
</html>